<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.5.141/build/pdf.min.js"></script>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <script>
      pdfjsLib.getDocument("./COURSEXPLE.pdf").promise.then(function (pdf) {
        pdf.getPage(1).then(function (page) {
          var scale = 1.5;
          var viewport = page.getViewport({ scale: scale });
          var canvas = document.getElementById("canvas");
          var context = canvas.getContext("2d");
          canvas.height = viewport.height;
          canvas.width = viewport.width;
          var renderContext = {
            canvasContext: context,
            viewport: viewport,
          };
          page.render(renderContext);
        });
      });
    </script>
  </body>
</html>
